<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <springProfile name="docker">
        <include resource="logging/appenders/appender-fluency.xml" />
        <root level="INFO">
            <appender-ref ref="FLUENCY" />
        </root>
    </springProfile>
</configuration>
